body {
    display: flex;
    flex-direction: column;
    background-image: url("http://www.freebiesgallery.com/wp-content/uploads/2012/08/dark-website-backgrounds-9.jpg");
    background-size: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

nav {
    width: 80%;
    margin: auto;

}

.navbar-brand {
    padding: 12px;
    font-size: 32px;
    font-weight: 700;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;

}

h1 {
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;

}

.aboutDiv {
    padding: 15px;
    border-bottom: 1px solid black;

}

.wrapper {
    background-color: #ffffff;

}

.navbar-light .navbar-brand {
    color: white;
}

.footer {
    font-size: 12px;
    flex-shrink: 0;
    padding: 12px;
    text-align: center;
    font-weight: 700;
    background-color: #666666;
    width: 100%;
    color: white;
    border-top: 5px solid #4aaaa5;
}


.card-text {
    background-color: #4aaaa5;
    color: white;
    font-weight: 700;
}

.container {
    border-width: 100%;
    border-top: #4aaaa5;


}

html,
body {
    height: 100%;

}

.content {
    flex: 1 0 auto;
    width: 70%;
    margin: auto;


}

img {
    height: 200px;
    width: 200px;
    margin-right: 12px;
    text-align: center;
}

#profilePic {
    border-radius: 50%;
    box-shadow: 5px 5px 10px 10px black;
}

.kyleInfo {
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
}

#languages {
    background-color: white;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    justify-content: center;

    width: 70%;
    margin: auto;
    border-radius: 25px;
}

#mainStuff {
    padding-top: 10px;


}


@media only screen and (max-width: 768px) {
    nav {
        width: 100%;


    }

    .content {
        width: 80%;

    }

    #footer {
        width: 100%;
        text-align: center;
        margin-left: 20%;


    }



}

@media only screen and (max-width: 640px) {

    /* For tablets: */
    nav {
        width: 75%;
    }

    .content {
        width: 80%;
    }

    #footer {
        width: 100%;
        text-align: center;
        margin: left;

    }



}

@media only screen and (max-width: 980px) {

    /* For desktop: */
    nav {
        width: 100%;
    }

    .content {
        width: 80%;
    }

    #footer {
        width: 100%;
        text-align: center;


    }
}